//
//  QAConfig.xcconfig
//  TestApp
//
//  Created by Sanjeev Bharti on 10/13/23.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Set App Name for QA environment
APP_NAME = Test App QA

// Set App Icon for QA environment
APP_ICON = AppIcon_QA

// Set Bundle Identifier for QA environment
APP_BUNDLE_ID = com.test.qa

// User Defined Settings
APP_ID = QA

